<% if notice.present? %>
  <p class="bg-green-50 text-green-500 rounded-lg py-2 px-4 mb-5 text-center" id="notice"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="bg-red-50 text-red-500 rounded-lg py-2 px-4 mb-5 text-center" id="alert"><%= alert %></p>
<% end %>